.container_itens {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: -50px;
}

.loader {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 150px;
    margin-top: 230px;
}

.linkArrow {
    font-size: 37px;
    color: #1EC3BA;
    float: right;
    position: relative;
}